* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#logo {
    max-width: 200px;
    max-height: 100px;
}

footer>nav.navbar {
    background-color: #06418C !important;
    color: white;
    text-align: center;
}

#contenido {
    margin-top: 5%;
}